* {
  margin: 0;
  padding: 0;
}
header, footer, section, nav {
  display: block;
}
html, body {
  height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #717171;
}
img {
  max-width: 100%;
  margin-bottom: 12px;
}

.wrapper {
font-family: "Helvetica Neue", Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #717171;
  background:url("../images/hacker.jpg") repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);
  position: relative;
  
}

.container {
  position: relative;
  left: 34%;
  width:242px;
  margin-left: -270px;
}
.container-footer {
  padding-top: 12px;
  display:none;
}
@media only screen and (max-width: 1020px) {
  .container {
    left: 45%;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    position: static;
    margin: 0 auto;
    width: 280px;
  }
}

header {
  padding: 20px 0;
}

.logo img {
  border: none;
}
@media only screen and (max-width: 650px) {
  .logo img {
    display: none;
  }
  .logo {
    background: url(../images/xerago_log.png) no-repeat top center;
    display: block;
    height: 115px;
    width: 100px;
    margin: 0 auto;
  }
}

.content {
  padding:20px 10px 20px 20px;
  overflow: hidden;
  background-color:#fff;
  box-shadow:1px 1px 4px #555;
}



.column {
  float: left;
}
.column.one {
  width: 40%; 
  margin-left:25%;
  /* margin-right: 48px; */
}

form {
  width: 240px;
  padding-bottom: 21px;
}
form label { /* labels are hidden */
  position: absolute;
  left: -999em;
  width: 1em;
  overflow: hidden;
}
form legend {
  margin-bottom: 12px;
}
form section {
  margin-bottom: 12px;
}
.form-element {
  width: 100%;
  padding: 13px 12px;  
  border: none;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.form-field {
  color: #000;
  border: 1px solid #B7B7B7;
  background-color:#eee;
}
.form-field-focus {
  color: #333333;
  border-color: #333;
}
.form-button {
  background: #AAA;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  color: #ffffff;
  cursor: pointer;
}
.form-button:hover {
  background: #98C900;
}
.form-error {
  padding: 0;
  color: #B61601;
}

.list-help {
  margin-top: 40px; /* offset padding on first anchor */
  list-style: none;
}
.list-help-item a {
  display: block;
  padding: 6px 0;
}
.item-marker {
  color: #be0000;
}

footer {
  color: #ffffff;
  font-size: 11px;
  background: #717171;
}
.footer-text {
  margin-bottom: 12px;
}
.footer-links a:link,
.footer-links a:visited {
  color: #ffffff;
  font-weight: bold;
}
.footer-links a:after {
  content: "\00a0\00a0\00a0|\00a0\00a0";
}
.footer-links a.last:after {
  content: "";
}


/* new css */


.logo img {
display: none;
}
.logo {
background: url("../images/xerago_log.png") no-repeat scroll center center rgba(0, 0, 0, 0);
display: block;
height: 100px;
width: 90%;
}

.form-element {
border-radius: 0;
margin: auto;
padding: 7px;
width: 90%;
}


.container {
    height: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 300px;
}
 
.column.two {
display: none;
}
.column.one {
margin: auto;
width: 100%;
}

form {
margin: auto;
width: auto;
}
form section {
margin: 12px auto auto;
}
.content {
margin: auto;
}
.form-button {
background: none repeat scroll 0 0 #98c900;
}
.form-button:hover {
background: none repeat scroll 0 0 #98c900;
}
footer {
display: none;
}
.wrapper {
height: 100%;
}

header{
padding:0;
}
#canvas{
	display: block;
	width:100%;
	height:100%;
	position:fixed;
      }

.newyear{
margin-left:31% !important;
width:40%;
position:absolute;
}

.tooltip:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 15px;
    content: "";
    height: 0;
    margin-left: 10px;
    position: absolute;
    width: 0;
}
.tooltip {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 1% 0 0 69%;
    width: 30%;
}
.tooltip > p {
    color: #98c900;
    padding:0.9em;
}

#maspping {
    
    height: 37px;
    position: absolute;
    right: 231px;
    top: 215px;
    width: 40px;
    outline:none;
}

.logout-section{position:absolute; right:20px; top:35px; }
