*{padding:0px;margin:0px;}
.wrapper{font-family: "Open Sans",sans-serif;width: 958px;margin:0px auto;border:1px solid gray;}

.header{width: 958px;padding: 15px 0 0 20px;float: left;}
.clearfix{
	display: table;
	clear: both;
	content: '';	
	}




h2{color: #747474;
   font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 42px;
    padding-bottom: 15px;}
    
#bodysection{width: 100%;float: left;}


.content{width: 810px;margin: 0px auto;clear: both;padding:38px 10px 5px 12px;}
.boxes{text-align: center;margin-top: 14px;padding-top: 45px;}



p {
    color: #747474;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 15px;padding-bottom: 20px;
    text-align: center;
}

.menu{list-style-type: none;}
.new{float: left;margin: 13px 8px 0 0 ;}
.menus ul li{float: left;text-align: center;padding-right: 10px;padding: 0 76px 0 28px; }
.menus {clear: both;}
.txtbox{width: 71%;height: 26px;border: 1px solid #ccc;margin-top: 11px;margin-bottom: 18px;}
.txtbox2{width: 56%;height: 26px;border: 1px solid #ccc;}

.btn{background-color: #A6CF13;padding:4px 10px;border:none;margin-bottom: 22px;color: #fff;margin-left: 10px;}


#content1{width: 325px;float: left;}

.content2{width: 300px;float: left;}




.SF-deliveryContent {
    border: 3px solid #ed6b06;
    display: none;
    height: 100%;
    position: relative;
    width: auto;
    padding:5px;
}

.main_content {
    
    margin-top: 46px;
    width: 100%;
}

.SF-riskmanagementContent {
    border: 3px solid #3b8d72;
    display: none;
    height: 100%;
    position: relative;
    width: auto;
    padding:5px;
    float:left 
}
.SF-deliveryContent {
    border: 3px solid #ed6b06;
    display: none;
    height: 100%;
    padding: 5px;
    position: relative;
    width:auto;
}
.SF-testContent {
    border: 3px solid #374495;
    display: none;
    height: 100%;
    position: relative;
    width: auto;
    padding:5px;
}
.style1{color:#000000; margin:0px 0px 12px 5px;}  
.blockquoteRight{width: 80% !important;line-height: 24px;}
.SF-candidateContent {
    border: 3px solid #9d1248;
    display: none;
    height: 100%;
    position: relative;
    width:auto;
    padding:5px;
}
.wysiwyg .callout blockquote:before {
    color: rgba(120, 118, 118, 0.4);
    content: "“";
    font-family: "Open Sans",sans-serif;
    font-size: 40px;
    left: -18px;
    position: absolute;
    top: -10px;
}

.theme--owner .wysiwyg .callout blockquote:before {
    color: rgba(125, 182, 88, 0.4);
}
.wysiwyg .callout blockquote:before {
    color: rgba(120, 118, 118, 0.4);
    content: "“";
   font-family: "Open Sans",sans-serif;
    font-size: 40px;
    left: -18px;
    position: absolute;
    top: -10px;
}
blockquote:before, blockquote:after {
    content: none;
}
.theme--owner .wysiwyg .callout blockquote:after {
    color: rgba(125, 182, 88, 0.4);
}
.wysiwyg .callout blockquote:after {
    color: rgba(120, 118, 118, 0.4);
    content: "”";
   font-family: "Open Sans",sans-serif;
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: 14px;
}
.wysiwyg .callout blockquote:before {
    color: rgba(120, 118, 118, 0.4);
    content: "”";
  font-family: "Open Sans",sans-serif;
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: 14px;
}
blockquote:before, blockquote:after {
    content: none;
}
blockquote {
    color: #7db658;
}


	
	
	
	.image4{float:left;width:auto;margin:1px 0 0 15px;}
	.check {
    
    float: left;
    margin-top:13px;
    width: auto;
}
#scantitle{font-size: 16px;font-weight: normal;font-style: italic;}
.submenu li{list-style-type:none !important;background: url("../images/bullet.jpg") no-repeat 5px 9px;padding-left:20px;line-height: 23px;}



